.container{
    height: 200px;
    width: 400px;
    background-color: blueviolet;
    border: 3px solid green;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;/*center me box aa jayega*/
}

h1:hover{
    transform: rotate(45deg);
    color: blue;
}

.box{
    height: 300px;
    width: 400px;
    background-color: rgb(15, 29, 19);
    border: 3px solid green;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;

    transition: all 5s ease-in 1s;

    
}

.box:hover{
    transform: rotate(360deg);
    color: blue;
}